*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.container{
    background-color: white;
    width: 400px;
    height: min-content;
    border-radius: 12px;
    padding: 28px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-box{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: #e6f5fb;
    padding: 12px 16px;
    border-radius: 14px;
}
.input-box::placeholder{
    color: #000;
}

.header button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.header button:hover{
    color: #fff;
    background-attachment:#ababab;
}
.weather-body img{
    width: 60%;
}

.weather-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}
.weather-box{
    margin-block: 20px;
    text-align: center;
}
.temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}
.description{
font-size: 20px;
font-weight: 700;
text-transform: capitalize;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.humidty , .wind{
    display: flex;
    align-items: center;
}
.humidty{
    margin-left: 20px;
}
.wind{
    margin-right: 20px;
}
.weather-details i{
    font-size: 36px;

}
.text{
    margin-left: 10px;
    font-size: 16px;
}
#humidty,#wind-speed{
font-size: 20px;
font-weight: 700;
}